<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'sidebar_left', user: @user, book: @book %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2 class="mt-3">Book detail</h2>
      <table class="col-12">
        <tr class="border-top">
          <td class="col-2 p-2">
            <%= link_to user_path(@user.id) do %>
              <p class="mb-0"><%= image_tag @user.get_profile_image(100, 100) %></p>
              <p><%= @user.name %></p>
            <% end %>
          </td>
          <td class="col-3 align-top p-2">
            <%= link_to book_path(@chosen_book.id) do %>
              <%= @chosen_book.title %>
            <% end %>
          </td>
          <td class="align-top p-2">
            <%= @chosen_book.body %>
          </td>
          <% if @user.id == current_user.id %>
            <td class="align-top p-2">
              <%= link_to edit_book_path(@chosen_book.id) do %>
                <button class="btn btn-success btn-sm">Edit</button>
              <% end %>
            </td>
            <td class="align-top p-2">
              <%= link_to book_path(@chosen_book.id), method: :delete, "data-confirm" => "本当に消しますか？" do %>
                <button class="btn btn-danger btn-sm">Destroy</button>
              <% end %>
            </td>
          <% end %>
        </tr>
      </table>
    </div>
  </div>
</div>
